@import "compass";

body {
    background: #ECEDEF;
}

body, p, ul, a, textarea, h1, h2, h3, h4, h5, input {
    font-family: "Open Sans";
    font-weight: lighter;
}

.card {
    background: #ffffff;
    padding-bottom: 0.5em;
    margin-bottom: 1.5em;

    @include box-shadow(0 1.5px 3px rgba(black, 0.24), 0 3px 8px rgba(black, 0.05));
    @include transition(all 0.2s ease-in-out);
    &:hover {
        @include box-shadow(0 4px 7px rgba(black, 0.23), 0 8px 25px rgba(black, 0.05));
    }

    a {
        //        width: 100%;
        text-align: center;
        position: relative;
    }

    .image {
//        height: 200px;
        background-position-x: 50%;
        background-size: cover;
        margin-bottom: 0.5em;
    }

    .image-cover {
        height: 200px;
        background-position-x: 50%;
        background-size: cover;
        margin-bottom: 0.5em;
    }

    .title {
        font-size: 1em;
        width: 95%;
        //            font-weight: bold;
        text-transform: uppercase;
    }

    .description {
        margin: 0 auto;
        font-size: 0.9rem;
        width: 95%;
        text-align: center;;
    }

    .prix {
        width: 95%;
        text-align: right;
    }

    .date {
        width: 95%;
        text-align: right;
    }
}

.titre-page {
    margin-bottom: 1em;
    text-align: center;
}

.detail {
    a.img-link {
        display: inline-block;

        &:not(:first-of-type) {
            width:49%;
            img {
                vertical-align: middle;
                margin: 0;
                @include transition(all 0.2s ease-in-out);

                &:hover {
                    @include box-shadow(0 4px 7px rgba(black, 0.23), 0 8px 25px rgba(black, 0.05));
                }
            }

        }
    }
}