/* line 3, app.scss */
body {
  background: #ECEDEF;
}

/* line 7, app.scss */
body, p, ul, a, textarea, h1, h2, h3, h4, h5, input {
  font-family: "Open Sans";
  font-weight: lighter;
}

/* line 12, app.scss */
.card {
  background: #ffffff;
  padding-bottom: 0.5em;
  margin-bottom: 1.5em;
  -moz-box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.24), 0 3px 8px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.24), 0 3px 8px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.24), 0 3px 8px rgba(0, 0, 0, 0.05);
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 19, app.scss */
.card:hover {
  -moz-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.23), 0 8px 25px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.23), 0 8px 25px rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.23), 0 8px 25px rgba(0, 0, 0, 0.05);
}
/* line 23, app.scss */
.card a {
  text-align: center;
  position: relative;
}
/* line 29, app.scss */
.card .image {
  background-position-x: 50%;
  background-size: cover;
  margin-bottom: 0.5em;
}
/* line 36, app.scss */
.card .image-cover {
  height: 200px;
  background-position-x: 50%;
  background-size: cover;
  margin-bottom: 0.5em;
}
/* line 43, app.scss */
.card .title {
  font-size: 1em;
  width: 95%;
  text-transform: uppercase;
}
/* line 50, app.scss */
.card .description {
  margin: 0 auto;
  font-size: 0.9rem;
  width: 95%;
  text-align: center;
}
/* line 57, app.scss */
.card .prix {
  width: 95%;
  text-align: right;
}
/* line 62, app.scss */
.card .date {
  width: 95%;
  text-align: right;
}

/* line 68, app.scss */
.titre-page {
  margin-bottom: 1em;
  text-align: center;
}

/* line 74, app.scss */
.detail a.img-link {
  display: inline-block;
}
/* line 77, app.scss */
.detail a.img-link:not(:first-of-type) {
  width: 49%;
}
/* line 79, app.scss */
.detail a.img-link:not(:first-of-type) img {
  vertical-align: middle;
  margin: 0;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 84, app.scss */
.detail a.img-link:not(:first-of-type) img:hover {
  -moz-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.23), 0 8px 25px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.23), 0 8px 25px rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.23), 0 8px 25px rgba(0, 0, 0, 0.05);
}
