{% extends "main.html.twig" %}

{% block content %}

    <div class="small-12 columns">

    {% include 'flash.html.twig' %}

        <h3 class="titre-page">{{ titre }}</h3>

        <div class="small-12 medium-offset-3 medium-6 columns">
            <form action="" method="POST">
                <div class="row">
                    <div class="small-12 columns">
                        <label for="email">Email :</label>
                        <input type="text" id="email" name="email" placeholder="email@example.com"/>
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 columns">
                        <label for="password">Mot de passe :</label>
                        <input type="password" id="password" name="password" placeholder="********"/>
                    </div>
                </div>

                <input type="hidden" name="token" value="{{ token }}"/>

                <div class="small-12 medium-8 large-6 medium-centered columns">
                    <input type="submit" class="button small-12" value="Connexion">
                </div>
            </form>
        </div>
    </div>
{% endblock %}