{% extends "main.html.twig" %}

{% block content %}

    <div class="small-12 columns">

        {% include 'flash.html.twig' %}

        <h3 class="titre-page">{{ titre }}</h3>

        <div class="small-12 medium-offset-3 medium-6 columns">
            <form action="{{ genererAPIPostPath }}" method="POST">

                {#<p>Clé d'API :</p>#}

                <div class="api-input">
                    <label>Clé d'API
                        <input type="text" id="API" readonly value="{{ membre.api_key }}"/>
                    </label>
                </div>

                <input type="hidden" name="token" value="{{ token }}"/>

                <div class="small-12 small-offset-3 medium-6 large-offset-3 large-6 columns end">
                    <input type="submit" class="button small-12" value="Générer clé d'API">
                </div>
            </form>
        </div>
    </div>
{% endblock %}