{% extends "main.html.twig" %}

{% import "macro.html.twig" as macro %}

{% block content %}

    {% include 'flash.html.twig' %}

    <form action="{{ link.rechercherPath }}">
        <div class="small-12 medium-offset-2 medium-8 large-offset-3 large-6 columns" style="margin-bottom: 0.5em;">
            <div class="row">
                <div class="row">
                    <div class="small-9 columns">
                        <input name="q" type="text" placeholder="Je recherche...">
                    </div>
                    <div class="small-3 columns">
                        <input type="submit" class="button postfix" value="Go">
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="categories small-12 columns">
        {% for categorie in categories %}
            {% if loop.last %}
                <div class="large-3 medium-4 small-6 columns end">
            {% else %}
                <div class="large-3 medium-4 small-6 columns">
            {% endif %}
                {{ macro.categorie(categorie) }}
            </div>
        {% endfor %}
    </div>
{% endblock %}