{% extends "main.html.twig" %}

{% block content %}

    <div class="small-12 columns">

        {% include 'flash.html.twig' %}

        <h3 class="titre-page">{{ titre }}</h3>

        <div class="small-12 medium-offset-3 medium-6 columns">
            <form action="{{ inscrirePostPath }}" method="POST" data-abide>
                <div class="prenom-input">
                    <label>Prénom <small>obligatoire</small>
                        <input type="text" required pattern="text" name="prenom" placeholder="Prénom"
                        {% if membre is defined %}
                            value="{{ membre.prenom }}"
                        {% endif %}/>
                    </label>
                    <small class="error">Le prénom doit contenir entre 3 et 70 lettres.</small>
                </div>

                <div class="nom-input">
                    <label>Nom <small>obligatoire</small>
                        <input type="text" required pattern="text" name="nom" placeholder="Nom"
                        {% if membre is defined %}
                            value="{{ membre.nom }}"
                        {% endif %}/>
                    </label>
                    <small class="error">Le nom doit contenir entre 3 et 70 lettres.</small>
                </div>

                <div class="email-input">
                    <label>Mail <small>obligatoire</small>
                        <input type="email" required pattern="email" name="email" placeholder="E-mail"
                        {% if membre is defined %}
                            value="{{ membre.email }}"
                        {% endif %}/>
                    </label>
                    <small class="error">Email valide obligatoire.</small>
                </div>

                <div class="postal_code-input">
                    <label>Code Postal <small>obligatoire</small>
                        <input type="text" required pattern="postal_code" min="0" name="code_postal" placeholder="Ex. : 54000"
                                {% if membre is defined %}
                            value="{{ membre.code_postal }}"
                                {% endif %}/>
                    </label>
                    <small class="error">Le code postal doit contenir 5 caractères.</small>
                </div>

                <div class="tel-input">
                    <label>Téléphone <small>obligatoire</small>
                        <input type="text" required pattern="tel" name="telephone" placeholder="Téléphone"
                        {% if membre is defined %}
                            value="{{ membre.telephone }}"
                        {% endif %}/>
                    </label>
                    <small class="error">Le numéro de téléphone doit contenir entre 10 et 20 caractères.</small>
                </div>

                <div class="password-input">
                    <label>Mot de passe <small>obligatoire</small>
                        <input type="password" id="password" required pattern="password" name="mot_de_passe" placeholder="********"/>
                    </label>
                    <small class="error">Le mot de passe doit contenir entre 5 et 15 caractères.</small>
                </div>

                <div class="password-input">
                    <label>Répéter mot de passe <small>obligatoire</small>
                        <input type="password" required pattern="password" data-equalto="password" name="mot_de_passe" placeholder="********"/>
                    </label>
                    <small class="error">Les mots de passes doivent correspondrent.</small>
                </div>

                <input type="hidden" name="token" value="{{ token }}"/>

                <div class="small-12 small-offset-3 medium-6 large-offset-3 large-6 columns end">
                    <input type="submit" class="button small-12" value="Inscription">
                </div>
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $(document).foundation({
                abide : {
                    patterns: {
                        postal_code: /^[0-9A-B]{5}$/,
                        dashes_only: /^[0-9-]*$/,
                        prix: /^[0-9]+$/,
                        email : /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/,
                        text: /^.{3,70}$/,
                        tel: /^.{10,20}$/,
                        titre: /^.{4,50}$/,
                        password: /^.{5,15}$/,
                        textarea: /^.{10,500}$/
                    }
                }
            });
        });
    </script>
{% endblock %}