{% extends "main.html.twig" %}

{% import "macro.html.twig" as macro %}

{% block content %}

    {% include 'flash.html.twig' %}

    <h3 class="text-center titre-page">{{ titre }}</h3>

    {% if recherche %}
    <form action="" method="GET">
        <div class="small-12 medium-offset-2 medium-8 large-offset-3 large-6 columns" style="margin-bottom: 0.5em;">
            <div class="row">
                <div class="row">
                    <div class="small-9 columns">
                        <input name="email" type="text" placeholder="Adresse email">
                    </div>
                    <div class="small-3 columns">
                        <input type="submit" class="button postfix" value="Go">
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% endif %}

    <div class="annonces large-12 columns">
        {% for annonce in annonces %}
            {% if loop.last %}
                <div class="large-3 medium-6 small-12 columns end">
            {% else %}
                <div class="large-3 medium-6 small-12 columns">
            {% endif %}
                {{ macro.annonce(annonce, path) }}
            </div>
        {% endfor %}
    </div>
{% endblock %}